<div class="container rounded bg-white mt-5 mb-5" align="center">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                    class="rounded-circle mt-5 profile-img"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg"><span
                    class="font-weight-bold">Name</span><span class="text-black-50">email@example.com</span><span>
                </span></div>

            <div [formGroup]="pictureForm" (ngSubmit)="updateProfilePicture()"
                class="d-flex flex-column align-items-center text-center p-3 py-5">
                <mat-form-field class="columns">
                    <mat-label *ngIf="">Selected File</mat-label>
                    <ng-template #newFile>
                        <mat-label>Choose file</mat-label>
                    </ng-template>
                    <input matInput disabled>
                    <button mat-icon-button matSuffix (click)="fileInput.click()" matTooltip="Upload Profile Image">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                    <input hidden #fileInput type="file" id="file" formControlName="picture">
                </mat-form-field>
                <br>
                <mat-progress-bar *ngIf="false" mode="determinate" value="40"></mat-progress-bar>
                <br>

                <button mat-raised-button type="submit" color="primary">Update Picture</button>
            </div>
        </div>

        <div class="col-md-5 border-right">
            <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" class="example-form mt-5">
                <mat-error *ngIf="!profileForm.valid">
                    All of the fields are necessary, and can't be left empty!
                </mat-error>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>User Type (disabled)</mat-label>
                    <input matInput disabled value="Type">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error>
                        Please provide a valid first name!
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="surname" required>
                    <mat-error>
                        Please provide a valid surname!
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" required>
                    <mat-error>
                        Please provide a valid address!
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthday" required>
                    <mat-error>
                        Please provide a valid birthday!
                    </mat-error>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error>
                        Please provide a valid email!
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" required>
                    <mat-error>
                        Please provide a valid username!
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button [disabled]="!profileForm.valid && profileForm.touched" color="primary">Update
                    Profile</button>
            </form>
        </div>

        <div class="col-md-3 border-right mt-5">
            <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">

                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirm_password">
                </mat-form-field>

                <button mat-raised-button type="submit" color="primary">Change Password</button>
            </form>
        </div>
    </div>
</div>