#profile-img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
width: 100%;
}

.upload {
  font-weight: bold;
  color: #28a645;
  margin-left: 15px;
  line-height: 36px;
  width: 150px;
}