.inline-block {
    display: inline-block;
    margin: 5px;
}

.navigation {
}


.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.sidebar {
    width: 30%;
    margin-right: 25px;
}

.mat-card-item {
    margin: 5px;
}

.mat-button-toggle {
  display: block;
  margin:auto;
  font-size: 12px;
  position: relative;
}

.inline-block {
    display: inline-block;
    margin: 5px;
}


.components {
    width: 50%; 
}

.mat-card-item {
    margin: 5px;
}

.mat-card-item:hover {
    cursor: pointer;
    background-color: rgb(71, 168, 185);
}

.selected {
    background-color: rgb(53, 131, 145);

}

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-row mat-form-field {
    width: 45%;
}

mat-card.change {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

mat-card.attach {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}