<div class="row">
    <h2>Work Request Table</h2>
</div>

<div class="row">
    <div class="example-button-row">
        <button mat-button color="primary" tooltip="Add a new Work Request" (click)="redirectToAddWorkRequestPage()">
            <mat-icon>add</mat-icon> New
        </button>
        <button mat-button color="primary">
            <mat-icon>sort</mat-icon> Filter
        </button>
    </div>
</div>
<legend></legend>

<!-- <div class="row">
    <div class="example-button-row">
        <button mat-button color="primary" tooltip="Add a new Device" (click)="redirectToAddDevicePage()">
            <mat-icon>add</mat-icon> New
        </button>
        <button mat-button color="primary">
            <mat-icon>sort</mat-icon> Filter
        </button>
    </div>
</div>
<legend></legend> -->

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Work Type</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Purpose</th>
                <th scope="col">Phone Number</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of workRequests">
                <td>{{request.id}}</td>
                <td>{{request.worktype}}</td>
                <td>{{request.startDate | date:'short'}}</td>
                <td>{{request.endDate | date:'short'}}</td>
                <td>{{request.purpose}}</td>
                <td>{{request.phoneNumber}}</td>
                <td>&nbsp;</td>

                <!-- <td>{{request.surname}}</td>
                <td>{{request.location}}</td>
                <td>{{request.telephone}}</td>
                <td>{{request.priority}}</td> -->
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <app-pagination (goPage)="goToPage($event)" (goPrev)="goToPrevious()" (goNext)="goToNext()"
        (updateSize)="reloadTable($event)" [page]="page" [perPage]="limit" [count]="total">
    </app-pagination>
</div>