<h2>Welcome to the Dashboard</h2>
<legend></legend>

<div id="outer" class="row">
    <mat-card id="inner" class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>MY INCIDENTS</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <p>Drafts 0</p>
            <p>Cancelled 0</p>
            <p>Executing 2</p>
            <p>Completed 1</p>
        </mat-card-content>
    </mat-card>
    <mat-card id="inner" class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>MY WORK PLANS</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <p>Drafts 0</p>
            <p>Cancelled 0</p>
            <p>Executing 2</p>
            <p>Completed 1</p>
        </mat-card-content>
    </mat-card>
    <mat-card id="inner" class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>MY SAFETY DOCS</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <p>Drafts 0</p>
            <p>Cancelled 0</p>
            <p>Executing 2</p>
            <p>Completed 1</p>
        </mat-card-content>
    </mat-card>
</div>

<div id="graphs" class="row">
    <mat-card id="line-chart" class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>INCIDENTS</mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
    </mat-card>

    <mat-card id="pie-chart" class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>DOCUMENTS</mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
</div>