<!-- <div class="container rounded bg-white mt-5 mb-5" align="center"> -->

  <mat-card class="col-md-5 border-right">
    <form [formGroup]="form" (ngSubmit)="register()">
      <h2>Register an Account</h2>
      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="name" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="surname" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="birthday" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Adress</mat-label>
        <input matInput placeholder="Adress" formControlName="address" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" formControlName="password" required>
      </mat-form-field>


      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Role</mat-label>
        <select matNativeControl required formControlName="role">
          <option value="worker">Worker</option>
          <option value="teamMember">Team Member</option>
          <option value="dispatch">Dispatch</option>
        </select>
      </mat-form-field>

      <mat-form-field *ngIf="form.get('role').value == 'teamMember'" appearance="fill" class="example-full-width">
        <mat-label>Role</mat-label>
        <select matNativeControl required formControlName="unit">
          <option *ngFor="let unit of units" value="{{unit.id}}">{{unit.name}}</option>
        </select>
      </mat-form-field>

      <button class="" mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Register</button>
    </form>
    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
      <button mat-raised-button (click)="fileInput.click()" matTooltip="Upload Profile Image">upload image</button>
      <input hidden #fileInput type="file" id="file" (change)="onImageSelection($event)">
    </div>
  </mat-card>
<!-- </div> -->
