.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
width: 100%;
}

.bnt-submit {
    margin: 25px;
}

.return-btn {
  display:      block;
  margin-right:  auto;
  margin-left: 0;
}

.mat-card {
  max-width: 60%;
  margin: 2em auto;
  text-align: center;
}