<mat-card>
    <mat-card-title>Add/Edit Consumer</mat-card-title>

    <div class="container rounded bg-white mt-5 mb-5" align="center">
        <div class="col-md-5 border-right">
            <form [formGroup]="deviceForm" (ngSubmit)="submitNewDevice()" class="example-form mt-5">
                <mat-error *ngIf="false">
                    All of the fields are necessary, and can't be left empty!
                </mat-error>
                <!-- automaticly assigned by the location -->
                <mat-form-field class="example-full-width">
                    <mat-label>Account ID</mat-label>
                    <input matInput placeholder="ID" value="Will be Automatically Assigned." disabled>
                </mat-form-field>
                <br>

                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="Name" disabled>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Surname</mat-label>
                    <input matInput formControlName="Surname" disabled>
                </mat-form-field>
                <br>

                <!-- <mat-form-field class="example-full-width">
                    <mat-label>Street Name</mat-label>
                    <input matInput placeholder="Location" formControlName="StreetName" required />
                </mat-form-field> -->

                <mat-form-field class="example-full-width">
                    <mat-label>Street Name</mat-label>
                    <mat-select formControlName="StreetName" (selectionChange)="onStreetChange($event)" required>
                        <mat-option *ngFor="let street of streetsPriorities" [value]="street">{{street.street}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Street Number</mat-label>
                    <input matInput placeholder="Location" formControlName="StreetNumber" required />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Location" formControlName="City" disabled value="Novi Sad" />
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Priority</mat-label>
                    <input matInput value="Priority (Napomena: Lokacije kroz različite vremenske periode mogu da menjaju
                    prioritete.)" disabled>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <span matPrefix>+381 &nbsp;</span>
                    <input type="tel" matInput placeholder="Telephone" formControlName="Telephone" required>
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Type</mat-label>
                    <select matNativeControl required formControlName="AccountType">
                        <option value="0">Residential</option>
                        <option value="1">Commercial</option>
                    </select>
                </mat-form-field>

                <button mat-raised-button class="btn-submit" [disabled]="!deviceForm.valid"
                    color="primary">Submit</button>
            </form>
        </div>
    </div>
</mat-card>