<mat-card>
    <mat-card-content>
        <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
            <mat-form-field class="example-full-width">
                <mat-label>Current Password</mat-label>
                <input matInput formControlName="current_password" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>New Password</mat-label>
                <input matInput formControlName="new_password" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Confirm New Password</mat-label>
                <input matInput name="confirm_password" formControlName="confirm_password" required>
            </mat-form-field>

            <br>
            <mat-error *ngIf="passwordForm.hasError('notSame')">
                Password & Confirm Password, don't match!
            </mat-error>
            <br>

            <button mat-raised-button [disabled]="!passwordForm.valid" color="primary">Change
                Password
            </button>
        </form>
    </mat-card-content>
</mat-card>