<mat-toolbar color="primary">
  <button mat-icon-button class="navbar-icon" *ngIf="loggedIn()" aria-label="sidebar-button" (click)="toggleSideBar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Smart Energy</span>
  <span class="navbar-spacer"></span>
  <button mat-icon-button class="navbar-icon" *ngIf="!loggedIn()" matTooltip="Sign Up" [routerLink]='["/register"]'
    aria-label="sign-up">
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-icon-button class="navbar-icon" *ngIf="!loggedIn()" matTooltip="Sign In" [routerLink]='["/login"]'
    aria-label="sign-in">
    <mat-icon>input</mat-icon>
  </button>
  <button mat-icon-button class="navbar-icon" *ngIf="loggedIn()" matTooltip="Profile" [routerLink]='["/profile"]'
    aria-label="member-profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button class="navbar-icon" *ngIf="loggedIn()" matTooltip="Notifications"
    [routerLink]='["/notifications"]' aria-label="notifications">
    <mat-icon matBadge="4" matBadgeColor="warn">notifications</mat-icon>
  </button>
  <button mat-icon-button class="navbar-icon" *ngIf="loggedIn()" (click)="logout()" matTooltip="Sign Out"
    aria-label="logout">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>