mat-card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 2em auto;
    text-align: center;
  }
  
mat-form-field {
    display: block;
}

.map-container {
  width: 600px;
  height: 400px;
  margin: 25px 0;
}