.mat-icon {
    vertical-align: middle;
    margin-right: 20px;
}

.mat-icon-bottom {
    /* position:absolute;  */
    bottom:0;
    display: block;
}

.profile-card {
    text-align: center;
    padding: 0 20px 20px 20px;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.sidebar-spacer {
    flex: 1 1 auto;
}
